<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>会員一覧</h2>
    <% @customers.each do |customer| %>
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.last_name+customer.first_name %></td>
          <td><%= customer.email %></td>
          <td><% if customer.is_deleted == false %>
                有効
              <% else %>
                無効
              <% end %>
          </td>
          <td><%= link_to edit_admin_customer_path(customer), class: 'nav-link text-light' do %>会員情報編集<% end %></td>
        </tr>
      </tbody>

    </table>
    <% end %>
  </div>
</div>