<h1>注文一覧</h1>

 <li><%= link_to admin_orders_show_path, class: 'nav-link text-light' do %>注文一覧<% end %></li>
 <li><%= link_to admin_genres_index_path, class: 'nav-link text-light' do %>ジャンル<% end %></li>
 <li><%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>Log out<% end %></li>